/* General styling and fonts */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

button {
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    color: white;
    background: #3882F6;
    padding: 10px 40px;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Arranging the page with flexbox */
/* HEADER AND FOOTER */

section {
    flex: 1;
    /*  To keep the footer down */
}

header, footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white;
    text-align: center;
}

header ul {
    display: flex;
    gap: 20px;
    font-size: 18px;
}

header h1 {
    font-size: 24px;
}

/* PRESENTATION */

.all_presentation {
    width: 100%;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8vw;
    padding: 80px 0;
}

.all_presentation img {
    width: 100%;
    height: auto;
    max-width: 650px;
}

.all_presentation .left_presentation {
    max-width: 400px;
}

.all_presentation .left_presentation h2 {
    font-size: 40px;
    margin: 0;
}

/* RECIPE SECTION */

.recipe_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 65%;
    margin: auto;
}

.recipe_section h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.recipe_section .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.recipe_section .card img {
    border: 6px solid #3882F6;
    border-radius: 20px;
    width: 100%;
    max-width: 250px;
    height: auto;
}

.recipe_section .card {
    flex: 1;
    max-width: 250px;
}

.recipe_section p {
    color: black;
    text-align: center;
    font-size: 18px;
    margin: 10px;
}

/* CITATION SECTION */

.citation_section {
    background-color: #E5E7EB;
    margin: 80px 0;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.citation {
    width: 43%;
    min-width: 300px;
}

.citation .citation_text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin: 20px;
}

.citation .citation_author {
    text-align: right;
    font-weight: bold;
}

/* SOON SECTION */

.panel_section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.panel_add {
    background-color: #3882F6;
    margin: auto;
    margin-bottom: 50px;
    width: 60%;
    min-width: 600px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    color: white;
    border-radius: 20px;
}

.panel_add_text h2, .panel_add_text p {
    margin: 10px;
}

.panel_add button {
    border: 4px solid white;
}